body {
  height: 100vh;
  width: 100%;
}

/* this is the main div */
.App {
  height: 100vh;
  width: 100vw;
}

.card {
  padding: 2em;
  /* width: 100%; */
}


#navigation {
  display: flex
}

#navigation li a{
  color:antiquewhite;
}

#navigation li a:hover{
  color:black;
}

/* lists the nav links in rows and without bullet points */
#navigation ul {
   display: flex;
  list-style: none;
  gap: 15px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image:url("./assets/background.jpeg");
  background-size: cover;
  width: 100%;
}


#contact form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.contactlinks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(103, 180, 180);
  color:ash gray;
 
}

/* TODO: finish styling footer/links */
/* #h2 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
} */

#footer a:hover{
  color: black
}
#footer a{
  color: rgb(245, 233, 233)
}

/* Begin Pages styling */

#portfolio {
  width: 100%;
}

#project-content {
  width:100%;
  display: flex;
  list-style: none;
  gap: 15px;
}